{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="main">
        <div class="main-section">
            <div class="row">
                <div class="col-md-12">
                    <h2>Edit Item</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="error">{{ error }}</div>
                </div>
            </div>

            <form action="{{ url_for('editItem', category_name=item.category.name, item_name=item.name) }}" method="post">
                <div class="row">
                    <div class="label col-md-12">
                        <label>Item Name: </label>
                    </div>
                </div>
                <div class="item_input row">
                    <div class="col-md-12">
                        <input type="text" name="name" value="{{ item.name }}">
                    </div>
                </div>

                <div class="row">
                    <div class="label col-md-12">
                        <label>Description: </label>
                    </div>
                </div>
                <div class="item_input row">
                    <div class="col-md-12">
                        <input type="text" name="description" value="{{ item.description }}">
                    </div>
                </div>

                <div class="row">
                    <div class="label col-md-12">
                        <label>Category: </label>
                    </div>
                </div>
                <div class="item_input row">
                    <div class="col-md-12">
                        <select name="category">
                            {% for category in categories %}
                                {% if category.name == category_name %}
                                    <option selected="selected" value="{{ category.name }}">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="label col-md-12">
                        <label>Image URL: </label>
                    </div>
                </div>
                <div class="item_input row">
                    <div class="col-md-12">
                        <input type="text" name="image_url" value="{{ item.image_url }}">
                    </div>
                </div>

                <div class="row">
                    <div class="options item_input col-xs-6">
                        <input type="submit" name="submit" value="Submit">
                    </div>
                    <div class="link col-xs-6">
                        <a class="cancel button" href="{{ url_for('showCatalog') }}"><h3>Cancel</h3></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}